<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= set.name %></title>
  <link rel="stylesheet" href="/css/theme.css">

  <style>
    .big-img { width: 300px; height: 300px; background-size: cover; }
  </style>
</head>
<body>

<%- include('partials/navbar', {page:''}) %>

<main class="container">

  <h1><%= set.name %></h1>
  <p>Below is detailed information about this Lego set.</p>

  <div class="big-img" style="background-image:url('<%= set.img_url %>')"></div>

  <p><b>Set Number:</b> <%= set.set_num %></p>
  <p><b>Theme:</b> <%= set.theme %></p>
  <p><b>Year:</b> <%= set.year %></p>
  <p><b>Parts:</b> <%= set.num_parts %></p>

  <a href="/lego/deleteSet/<%= set.set_num %>">Delete</a> |
  <a href="#" onclick="history.back(); return false;">Back</a>

</main>

</body>
</html>
